

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/**/
/*NavBar*/


#navbar{
    background-color: rgb(247, 217, 18);
    text-align: center;
}

#navbar ul{
    list-style: none;
    
    
}

#navbar ul li{
    display: inline-block;
    padding: 20px;

}

#navbar ul li:hover{

}

#navbar ul li a{
    color: rgb(255, 255, 255);
    padding: 20px;

}
#navbar ul li a:hover{
    color: rgb(247, 217, 18);
    background-color: white;
}

#menu{
 
}

.clear{
    clear: both;
}

/*logo*/



#logo{
    padding: 15px 0 10px 0;

}

#logo{
    font-weight: bold;
    font-size: 40px;
    
}

.preto{
    color: rgb(0, 0, 0);

}
.branco{
    color: white;
}